
.title {
  width: 100%;
  height: 32px;
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #191935;
}

.Note-Copy {
  width: 100%;
  height: 20px;
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  /* color: #6d7182; */
}

.Lable {
  width: 100%;
  height: 20px;
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #191935;
}

.input {
  height: 46px;
  border-radius: 8px;
  background-color: #eff0f1;
}

.form-group {
  margin-bottom: 16px;
}

.btn-success {
  border-radius: 4px;
  background-color: #049252;
}

.btn-secondary {
  width: 89px;
  border-radius: 8px;
  background-color: #eff0f1;
}

.Original {
  width: 16px;
  height: 16px;
  object-fit: contain;
  position: absolute;
  margin-top: 16px;
  margin-left: 12px;
}

.rowContent {
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
  border-top: solid 1px #eff0f1;
  border-bottom: solid 1px #eff0f1
}

.imgava {
  width: 48px;
  height: 48px;
  width: 48px;
  height: 48px;
  border-radius: 100%;
}

.titleName {
  width: 136px;
  height: 22px;
  font-family: 'Quicksand', sans-serif;
  font-size: 17px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  color: #191935;
}

.titleNamechirden {
  width: 215px;
  height: 16px;
  font-family: 'Quicksand', sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: normal;
  color: #6d7182;
}
.titleNamechirdens {
  height: 16px;
  font-family: 'Quicksand', sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: normal;
  color: #6d7182;
  margin-left: 12px;
}

.checkboxinput {
  width: 24px;
  height: 24px;
  margin-top: 10px;
}

.rounds {
  position: relative;
}

.rounds label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 24px;
  left: 0;
  position: absolute;
  top: 0;
  width: 24px;
}

.rounds label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 5px;
  opacity: 0;
  position: absolute;
  top: 7px;
  transform: rotate(-45deg);
  width: 12px;
}

.rounds input[type="checkbox"] {
  visibility: hidden;
}

.rounds input[type="checkbox"]:checked+label {
  background-color: #049252;
  border-color: #049252;
}

.rounds input[type="checkbox"]:checked+label:after {
  opacity: 1;
}

::-webkit-scrollbar {
  width: 9px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}



/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888;
}

.col-2 {
  flex: 0 0 16.66667%;
    max-width: 16.66667%;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}
/* @media (max-width:1920px){
  .col-2 {
    flex: 0 0 10.66667%;
    max-width: 10.66667%;
  }
} */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .col-2 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-9 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  #col-9repovesive{
    padding-left: 18px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .col-2 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-9 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  #col-9repovesive{
    padding-left: 18px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .col-2 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-9 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  #col-9repovesive{
    padding-left: 18px;
  }
}

.Tt-c-h-s {
  width: 98px;
  height: 22px;
  font-family: 'Quicksand', sans-serif;
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  color: #191935;
}

.select2-container--default .select2-selection--single {
  height: 46px;
  background-color: #eff0f1;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 42px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 46px;
}

.select2-results__option[aria-selected] {
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #6d7182;
  cursor: pointer;
}
.Qun-l-h-s {
  width: 100%;
  height: 32px;
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #191935;
}
.Rectangle-Copy {
    width: 208px;
    height: 40px;
    border-radius: 8px;
    background-color: #049252;

}
.Button-Copy {
        width: 144px;
        height: 20px;
        font-family: 'Quicksand', sans-serif;
        font-size: 15px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: normal;
        color: #fdfdfd;
}
.White {
    width: 16px;
    height: 16px;
    object-fit: contain;
  }
  .Rectangle {
    width: 100%;
    height: 116px;
    border-radius: 12px;
    background-color: #ffffff;
    padding: 26px 12px;
  }

.Hi-ng-nng-sn-t {
    width:312px;
    height: 22px;
    font-family: 'Quicksand', sans-serif;
    font-size: 17px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #191935;
    margin: 0px;
    margin-bottom: 2px;
  }
  .-thnh-vin---5-b {
    width:  186px;
    height: 20px;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #6d7182;
  }
  .Ngy-ht-hn-chm-1 {
    width:  195px;
    height: 16px;
    font-family: 'Quicksand', sans-serif;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: normal;
    color: #cf2a05;
  }
  .Grey {
    width: 24px;
    height: 24px;
    object-fit: contain;
  }
  .Rectangles {
    border: 1px solid #e9ecef;
    width: 49px;
    display: inline-block;
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    padding: 3px;
    margin-left: 6px;
    margin-top: -51px;
    height: 67px;

  }
  .Delete {
    width: 28px;
  height: 40px;
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.67;
  letter-spacing: normal;
  color: #e26c51;
  }
  .Menu-Menu-Menu {
    width: 31px;
    height: 40px;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.67;
    letter-spacing: normal;
    color: #191935;
  }
  .rec {
    width: 4px;
    height: 12px;
    border-radius: 1px;
    background-color: #fd9600;
    margin-top: 10px;

  }
  .SubHeading {
    width: 70%;
    height: 20px;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #151c30;
    margin-top: 7px;
    margin-left: 8px;
  }
  .Text {
    width: 72px;
    height: 20px;
    font-family: sans-serif ;
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #fd9600;
  }
  .Ch-tch {
    margin-left: 8px;
    width: 49px;
    height: 16px;
    font-family: 'Quicksand', sans-serif;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: normal;
    color: #049252;
  }
  .inputs{
    width: 182px;
    height: 40px;
    border-radius: 8px;
    background-color: #eff0f1;
  }
  .Ht-hn {
    width: 57px;
    height: 19px;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #6d7182;
  }
  .Rectanglestext{
    border: 1px solid #e9ecef;
    width: 56px;
    display: inline-block;
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    padding: 3px;
    margin-left: -5px;
    margin-top: -51px;
    height: 57px;
  }
  .select2-dropdown {
    z-index:99999;
  }
